node_modules
frontend/node_modules
backend/vendor
frontend/dist
.git
.github
Dockerfile*
docker-compose*.yml
*.log
.env                 # ignora só .env raiz
/.env.*              # ignora somente arquivos .env.* na raiz
!frontend/.env.production  # re-inclui o .env.production do frontend para build
storage/logs
