Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

ErrorDocument 404 "404 Nada encontrado aqui. <a href='javascript:history.back()'>Volte para onde estava.</a>"