.chart-table th {
	padding: 5px;
	font-size: 16px;
}

.chart-table.table-fluid  {
	width: 100%;
}

.chart-table td {
	padding: 7px;
    vertical-align: middle;
}

.chart-table tr:first-child {
	border-bottom: solid 2px #ddd;
}

.chart-table tr {
	border-bottom: solid 1px #eee;
}

.chart-table tr td:nth-child(2),
.chart-table tr td:last-child {
    text-align: center;
	font-size: 20px;
    vertical-align: middle;
}

.chart-table small {
	font-size: 12px;
	color: #777;
}

.ch-pos-one {
	color: #28bbf8;
}