.chart-table {
	margin: 0px auto;
}

.chart-table th {
	padding: 5px;
	font-size: 16px;
}

.min-col {
	width: 30px;
}

.cr-icon {
	cursor: pointer;
}

a.cr-btn {
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    background: #fdfdfd;
    color: #28BBF8;
    border: 1px solid #e2ddda;
    height: 40px;
    width: 40px;
    font-weight: 300;
    margin: 2px;
    line-height: 40px;
    font-size: 12px;
}

a.cr-btn:hover {
	border: 1px solid #28BBF8;
	background-color: #28BBF8;
	color: white;
}

a.cr-btn.wksout:hover {
	border: #eee 1px solid;
	color: white;
}

a.cr-btn.no-one {
    border: 2px solid #28BBF8 !important;
}

a.cr-btn.wksout{
	font-size: 12px;
	cursor: pointer;
	color: #ccc;
	line-height: 40px;
}

.center {
	margin: 0px auto;
}

.dest {
	padding: 10px;
	margin: 3px;
	display: inline-block;
    width: 20%;
    font-size: small;
}
.dest hr {
	margin: 3px;
}
.popover {
 	padding: 0px; 
    border: 0px solid #ccc; 
    border-radius: 5px;
}
.popover-title {
    color: #FFFFFF;
    background-color: #28BBF8;
    text-align: center;
    min-width: 85px;
    line-height: 14px;
    font-size: smaller;
}
.popover-content {
	padding: 0px;
    font-size: 11px;
}

.popover-content a {
	display: block;
    text-align: center;
    border: none;
    margin: 5px 0px;
}

.popover-content a:hover {
    background: rgba(0,0,0,0.1);
    border: none;
}

.popover-content .text-muted{
	background-color: rgba(0,0,50,0.1);
	margin-top: 6px;
	padding: 3px;
	display: block;
}

.getimage {
	width: 64px;
	text-align: center;
}

.chart-table.table-fluid  {
	min-width: 100%;
}

.chart-table td {
	padding: 7px;
    vertical-align: middle;
}

.chart-table tr:first-child {
	border-bottom: solid 2px #ddd;
}

.chart-table tr {
	border-bottom: solid 1px #eee;
}

.chart-table td.rk-col {
	font-size: 20px;
	line-height: 1;
}

.drops {
	background-color: rgb(250, 250, 250);
	font-size: 12px !important;
}

.drops img {
	width: 32px !important;
}

.chart-table td.rk-col span:not(.black) {
	font-size: 11px;
	/*display: block;*/
}

.chart-table span.black {
	font-size: 10px;
	color: #777;
}

.chart-table span.non {
	color: #777;
}

.chart-table span.deb {
	color: #03A9F4;
}

.chart-table span.ret {
	color: #FF9800;
}

.chart-table span.up {
	color: #4CAF50;
}

.chart-table span.down {
	color: #F44336;
}

.chart-table tr:nth-child(2) td:nth-child(2).rk-col{
	color: #28bbf8;
}

.chart-table td.center {
    text-align: center;
}
.chart-table td.left {
	text-align: left;
}

.chart-table th.center {
    text-align: center;
}
.chart-table th.left {
	text-align: left;
}

.chart-table td.min {
	width: 30px;
}
.chart-table small {
	font-size: 12px;
	color: #777;
}

.ch-pos-one {
	color: #28bbf8;
}