.chart-table {
	margin: 0px auto;
}

.chart-table th {
	padding: 5px;
	font-size: 16px;
}

.min-col {
	width: 30px;
}

.getimage {
	width: 64px;
	text-align: center;
}

.chart-table.table-fluid  {
	width: 100%;
}

.chart-table td {
	padding: 7px;
    vertical-align: middle;
}

.chart-table tr:first-child {
	border-bottom: solid 2px #ddd;
}

.chart-table tr {
	border-bottom: solid 1px #eee;
}

.chart-table td.rk-col {
	font-size: 20px;
	line-height: 1;
}

.chart-table td.rk-col span:not(.black) {
	font-size: 11px;
	/*display: block;*/
}

.chart-table span.black {
	font-size: 10px;
	color: #777;
}

.chart-table span.non {
	color: #777;
}

.chart-table span.deb {
	color: #03A9F4;
}

.chart-table span.ret {
	color: #FF9800;
}

.chart-table span.up {
	color: #4CAF50;
}

.chart-table span.down {
	color: #F44336;
}

.chart-table tr:nth-child(2) td:nth-child(2).rk-col{
	color: #28bbf8;
}

.chart-table td.center {
    text-align: center;
}
.chart-table td.left {
	text-align: left;
}

.chart-table th.center {
    text-align: center;
}
.chart-table th.left {
	text-align: left;
}

.chart-table td.min {
	width: 30px;
}
.chart-table small {
	font-size: 12px;
	color: #777;
}

.ch-pos-one {
	color: #28bbf8;
}