:root {
  --icon-color: rgb(21, 126, 251);
  --link-color: #333;
  --link-color-hover: rgb(21, 126, 251);
  --main-site-color: #28bbf8;
}

[class^="icon-"]:not(.except), [class*=" icon-"]:not(.except){
    color: var(--icon-color);
}

.ico-color{
	color: var(--main-site-color);
}

.white-bg {
	background-color: white;
}

.cr-icon {
    color: #28bbf8;
    background-color: aliceblue;
    padding: 5px;
}

.btn-custom{
    padding: 5px 15px;
}
.btn-custom span{
	font-size: 9px;
}

/* SPACES */
.bottomspace-xs{
	margin-bottom: 5px;
}

.bottomspace-sm{
	margin-bottom: 10px;
}

.bottomspace-md{
	margin-bottom: 15px;
}

.bottomspace-lg{
	margin-bottom: 20px;
}

.bottomspace-xl{
	margin-bottom: 25px;
}

.bottomspace-big{
	margin-bottom: 50px;
}

.bottomspace-mega{
	margin-bottom: 100px;
}

.topspace-xs{
	margin-top: 5px;
}

.topspace-sm{
	margin-top: 10px;
}

.topspace-md{
	margin-top: 15px;
}

.topspace-lg{
	margin-top: 20px;
}

.topspace-xl{
	margin-top: 25px;
}

.topspace-big{
	margin-top: 50px;
}

.topspace-mega{
	margin-top: 100px;
}


/* ICONS SIZES */
.font-1{
	font-size: 1em;
}

.font-1-5{
	font-size: 1.5em;
}

.font-2{
	font-size: 2em;
}

.font-2-5{
	font-size: 2.5em;
}

.font-3{
	font-size: 3em;
}

.font-4{
	font-size: 4em;
}

.font-5{
	font-size: 5em;
}

.font-7-5{
	font-size: 7.5em;
}

.font-10{
	font-size: 10em;
}

.font-15{
	font-size: 15em;
}

.font-20{
	font-size: 20em;
}

/* ALERT */
.alert-minimalist {
	background-color: rgb(255, 255, 255);
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
	height: 50px;
	margin-right: 12px;
}
.alert-minimalist > [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
	font-size: 80%;
}

/* LINK */
a.white {
	color: white;
}
 a.white-hover:hover{
	color: white;
 }

/* DARK BG */
#bg {
	filter: brightness(0.5) blur(3px);
	-webkit-filter: brightness(0.5) blur(3px);
	-moz-filter: brightness(0.5) blur(3px);
}

.bg {
	background: rgba(0,0,0,0.7);
    padding: 15px;
}

.full {
	width: 100%;
}

.white {
	color: white;
}

.bigtxt {
	font-size: 35px;
	margin-top: 1em;
}

.bigtxt small {
	font-size: 15px;
	color: #ccc;
    display: block;
}

.br {
    display: block;
}

.text-muted-alt {
	color: #ccc;
}

/* BORDER DIVIDER */
.divider-left {
	border-left: #eee 1px solid;
}

.divider-right {
	border-right: #eee 1px solid;
}

.divider-lr {
	border-right: #eee 1px solid;
	border-left: #eee 1px solid;
}

.divider-top {
	border-top: #eee 1px solid;
}

.divider-bottom {
	border-bottom: #eee 1px solid;
}

.divider-tb {
	border-top: #eee 1px solid;
	border-bottom: #eee 1px solid;
}

.divider {
	border-top: #eee 1px solid;
	border-bottom: #eee 1px solid;
	border-right: #eee 1px solid;
	border-left: #eee 1px solid;
}