    /*
    Flaticon icon font: Flaticon
    Creation date: 11/08/2016 19:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-badge:before { content: "\f100"; }
.flaticon-badge-2:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-favorite:before { content: "\f103"; }
.flaticon-favorite-1:before { content: "\f104"; }
.flaticon-folder:before { content: "\f105"; }
.flaticon-grammy:before { content: "\f106"; }
.flaticon-man:before { content: "\f107"; }
.flaticon-multimedia:before { content: "\f108"; }
.flaticon-music:before { content: "\f109"; }
.flaticon-music-1:before { content: "\f10a"; }
.flaticon-music-2:before { content: "\f10b"; }
.flaticon-music-folder:before { content: "\f10c"; }
.flaticon-radio:before { content: "\f10d"; }
.flaticon-social:before { content: "\f10e"; }
.flaticon-trophy:before { content: "\f10f"; }
.flaticon-trophy-1:before { content: "\f110"; }
.flaticon-user-with-music-note:before { content: "\f111"; }
    
    $font-Flaticon-badge: "\f100";
    $font-Flaticon-badge-2: "\f101";
    $font-Flaticon-book: "\f102";
    $font-Flaticon-favorite: "\f103";
    $font-Flaticon-favorite-1: "\f104";
    $font-Flaticon-folder: "\f105";
    $font-Flaticon-grammy: "\f106";
    $font-Flaticon-man: "\f107";
    $font-Flaticon-multimedia: "\f108";
    $font-Flaticon-music: "\f109";
    $font-Flaticon-music-1: "\f10a";
    $font-Flaticon-music-2: "\f10b";
    $font-Flaticon-music-folder: "\f10c";
    $font-Flaticon-radio: "\f10d";
    $font-Flaticon-social: "\f10e";
    $font-Flaticon-trophy: "\f10f";
    $font-Flaticon-trophy-1: "\f110";
    $font-Flaticon-user-with-music-note: "\f111";